# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# added by Seiichi Nukayama
cards
*.c~
Head First C Map.html
Head First C Map_files
geo2json
bermuda
categorize
dataSize
kinko
mercuryDay
message_hider
order_pizza
secret_message
tax
totaller
*.h~
turtle
*.py~
newshound
mynewshound
temp
*.txt~
newshound2
openurl
news_opener
news_reader
p451
greetings
keisan
setsuzoku
*server
wiki_client
argument
beers
test
